/**
 * Created by Danila Loginov, December 23, 2016
 * https://github.com/1oginov/Cordova-Bluetooth-Terminal
 */
html {
    height: 100%;
}

body {
    background: #00BCD4;
    color: #FFF;
    font-size: 125%;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    line-height: 150%;
    position: relative;
}

button, input, textarea {
    font-size: 100%;
}

.addItem {
  font-size: 20px;
  font-weight: bold;
  padding-top: 30px;
}

.backgroundBlue {
  background-image: url("../img/iMiningBackground.png");
  background-color: #002841;
  height: -webkit-fill-available;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  text-align: -webkit-center;
  display: flow-root;
}

.holeSetupScreen {
  background-color: white;
  border-radius: 3px;
  width: 80%;
  height: 350px;
  margin-top: 100px;
}

#readyButton {
  padding-top: 50px;
}

#autoSelector {
  background-color: white;
  border-radius: 3px;
  width: 80%;
  height: 300px;
  text-align: center;
  margin-top: 100px;
}

#selectAutoMode {
  padding-top: 85px;
}

#selectAutoButton{
  margin-bottom: 40px;
}

#buttonRockSave{
  padding-top: 40px;
  padding-bottom: 15px;
}

#buttonRockSaveCancel {
  padding-bottom: 100px;

}

#buttonExplosiveSave {
  padding-top: 40px;
  padding-bottom: 15px;
}

#buttonExplosiveSaveCancel {
  padding-bottom: 100px;
}

#buttonDetonatorSave {
  padding-top: 40px;
  padding-bottom: 15px;
}

#buttonDetonatorSaveCancel {
  padding-bottom: 100px;
}

#buttonAccessorySave {
  padding-top: 40px;
  padding-bottom: 15px;
}

#buttonAccessorySaveCancel {
  padding-bottom: 100px;
}

.detonatorTableSpace1 {
  padding-right: 25px;
}

.detonatorTableSpace2 {
  padding-right: 50px;
}

#backButton {
  border: 0.5px solid;
}

#backButton_i_2_2 {
  padding-left: 38%;
}

#button1 {
  background-color:#002841 !important;
  border-radius: 0px;
  height: 40px;
  width: calc((100% - 2px*1)/ 2) !important;
  border: 2px solid #002841;
}

#blastDetails {
  color: Black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
  margin-left: 10px;
  padding-bottom: 30px;
}

#excavationProfile {
  color: Black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
  margin-left: 10px;
  padding-bottom: 30px;
}

#blastParameters {
  color: Black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
  margin-left: 10px;
  padding-bottom: 30px;
}

#loadExplosives {
  color: Black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
  margin-left: 10px;
  padding-bottom: 30px;
}

#explosiveProfile {
  color: Black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
  margin-left: 10px;
  padding-bottom: 30px;
}

#loadDetonators {
  color: Black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
  margin-left: 10px;
  padding-bottom: 30px;
}

#detonatorProfile {
  color: Black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
  margin-left: 10px;
}

#assignAccessories {
  color: Black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
  margin-left: 10px;
  padding-bottom: 30px;
}

#pumpDetails {
  color: Black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
  margin-left: 10px;
  padding-bottom: 30px;
}

#pre-photos {
  color: Black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
  margin-left: 10px;
  padding-bottom: 30px;
}

#addAccessories {
  color: Black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
  margin-left: 10px;
}

#pre-blast_holes {
  color: Black;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-left: 15px;
  padding-bottom: 30px;
  background-color: #ff9800;
  border: 2px outset #ff9800;
}

#pre-blast_samples {
  color: Black;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin-left: 15px;
  background-color: #ff9800;
  border: 2px outset #ff9800;
}

.editButton {
  color: white;
}

#rockList {
  display: none;
  text-align: right;
}

#camera {
  margin-top: 0px;
}

#camera_i_1 {
  padding-top: 25px;
  width:25px;
}

#camera_i_2 {
  padding-top: 25px;
  width:25px;
}

#camera_i_1_2 {
  width:25px;
}

#camera_i_2_2 {
  width:25px;
}

#chargeButton {
  width: 100%;
}

.checkInMenu {
  margin-top: 20px;
}

#data {
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    flex-grow: 1;
    font-family: monospace;
    overflow-x: auto;
    overflow-y: scroll;
    white-space: pre;
}

#data .in {
    color: #F0F4C3;
}

#data .out {
    color: #F8BBD0;
}

#photoContainer {
  height: 350px;
  width: 85%;
}

#dataImage {
  display: none;
  width: 100%;
  height: 100%;
}

#urlImage {
  display: none;
  width: 200px;
  height: 190px;
}

#div4 {
  margin: 0 !important;
}

#demoGauge {
  display: block;
}

#detailSwipe {
  background-color: #ffffff;
  border-radius: 3px;
  width: 90%;
}

#detailSwipeInner {
  width: 90%;
}

#excavationSwipe {
  background-color: #ffffff;
  border-radius: 3px;
  width: 90%;
}

#excavationSwipeInner {
  width: 90%;
}

#excavationSwipeInner2 {
  width: 90%;
  background-color: #ffffff;
}

#parameterSwipe {
  background-color: #ffffff;
  border-radius: 3px;
  width: 90%;
}

#parameterSwipeInner {
  width: 90%;
}

#explosiveSwipe {
  background-color: #ffffff;
  border-radius: 3px;
  width: 90%;
}

#explosiveSwipeInner {
  width: 90%;
}

#detonatorSwipe {
  background-color: #ffffff;
  border-radius: 3px;
  width: 90%;
}

#detonatorSwipeInner {
  width: 90%;
}

#accessorySwipe {
  background-color: #ffffff;
  border-radius: 3px;
  width: 90%;
}

#accessorySwipeInner {
  width: 90%;
}

#summarySwipe {
  background-color: #ffffff;
  border-radius: 3px;
  width: 90%;
}

#summarySwipeInner {
  width: 90%;
}

#mapSwipe {
  background-color: #ffffff;
  border-radius: 3px;
  width: 90%;
}

#mapSwipeInner {
  width: 90%;
}

.editPage {
  min-height: 48px;
  padding-right: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  width: 100%;
  min-width: 0;
  display: block;
  -webkit-box-pack: justify;
  justify-content: space-between;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  align-self: stretch;
}

#blastDetailsSave {
  padding-bottom: 15px;
}

#blastDetailsSaveCancel {
  padding-bottom: 100px;
}

#excavationDetailsSave {
  padding-bottom: 15px;
}

#excavationDetailsSaveCancel {
  padding-bottom: 100px;
}

#parametersDetailsSave {
  padding-bottom: 15px;
}

#parametersDetailsSaveCancel {
  padding-bottom: 100px;
}

#explosiveDetailsSave {
  padding-bottom: 15px;
}

#explosiveDetailsSaveCancel {
  padding-bottom: 100px;
}

#accessoriesDetailsSave {
  padding-bottom: 15px;
}

#accessoriesDetailsSaveCancel {
  padding-bottom: 100px;
}

#photoSwipe {
  background-color: #ffffff;
  border-radius: 3px;
  width: 90%;
}

#photoSwipeInner {
  width: 90%;
  height: 300px;
}

#closeSwipe {
  background-color: #ffffff;
  border-radius: 3px;
}

#closeSwipeInner {
  width: 90%;
  height: 350px;
}

#editMine {
  color: #002841;
  padding-top: 25px;
}

#editLocation {
  color: #002841;
  padding-top: 25px;
}

#LockJobCard {
  width: 100%;
}

#editBlastPlan {
  color: #002841;
  padding-top: 25px;
}

#editDate {
  color: #002841;
  padding-top: 33px;
}

#editOperator {
  color: #002841;
  padding-top: 25px;
}

#editTab {
  margin-right: -320px;
}

#editSubLocation {
  color: #002841;
  padding-top: 33px;
}

.gauge demo-gauge {
  height: 15%;
}

#headStatus {
  font-weight:bold;
  font-size: 14px;
  color:#ffffff;
}


#holeDetails {
  color: #ff9800;
  text-align: left;
}

#holeDetailsList {
  padding-right: 20px;
}

#holeDetails td {
  padding-right: 25px;
  border-bottom: 0.5px solid white;
}

#holeMassDown {
  color: #ff9800 !important;
}

#holeMassDown_2 {
  color: #ff9800 !important;
}

#holeMassDown_i_1 {
  width:25px;
}

#holeMassDown_i_1_2 {
  width:25px;
}

#holeMassDown_i_2 {
  width:24px;
}

#holeMassDown_i_2_2 {
  width:24px;
}

#holeMass_counter {
  font-size: small !important;
}

#holeMassUp_i_1 {
  width:25px;
}

#holeMassUp_i_1_2 {
  width:25px;
}

#holeMassUp_i_2 {
  width:24px;
}

#holeMassUp_i_2_2 {
  width:24px;
}

#holeMass {
  color: white;
}

#holeMassHeader {
  margin: 0px 12px 0px !important;
  color: white;
}

#holeMassHeader_2 {
  width: 100%;
  margin: 0px 12px 0px !important;
  color: white;
}

#input1 {
  border-radius: 0px;
}

#loginScreen {
  text-align: center;
  padding-top: 40px;
}

#mainGauge {
  color: white;
  width: 50% !important;
  padding-right: 0px;
}

#mainGauge2 {
  color: white;
  width: 50% !important;
  padding-right: 0px;
}

#massDown {
  width: 25% !important;
}

#massDown2 {
  width: 25% !important;
}

#massUp {
  width: 25% !important;
}

#massUp2 {
  width: 25% !important;
}

.noOfHolesTable {
  width: 100%;
}

#paired-devices .list label {
    display: block;
}

#paired-devices .list label div {
    display: inline-block;
    vertical-align: middle;
}

#paired-devices .list label div span {
    display: block;
}

#paired-devices .list label .address {
    color: rgba(255, 255, 255, .5);
}

.preBlastListTable {
  background-color: #ff9800;
  width: 80%;
  margin-left: 35px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
}

.preBlastListHeaderRow {
  color: black;
  text-align: left;
  padding-left: 25px;
  font-size: 15px;
  font-weight: bold;
}

.preBlastListHeaderCell {
  padding-top: 10px;
  padding-left: 10px;
  width: 30%;
}

.preBlastListDataRow {
  color: #002841;
}

.blastListData {
  color: white;
  padding-left: 13px;
  padding-bottom: 13px;
}

#totalMassPumpedTitle {
  color: black;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 30px;
}

.pre-blast {
  color: black;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}

.pre-blast_2 {
  color: #002841;
  padding-left: 10px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 0.5px dashed #002841;
}

.pre-blast_3 {
  padding-top: 20px;
  text-align: center;
}

.pre-blast_4 {
  font-size: 22px;
  color: white;
}

.pre-blast_5 {
  border: 2px outset #ff9800;
  background-color: #ff9800;
  color: white;
  padding-left: 10px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 0.5px dashed #002841;
}

.pre-blast_6 {
  color: white;
  padding-top: 25px;
  padding-left: 15px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  width: 15%;
}

.preRow {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.preColLeft {
  width: 75%;
  text-align: center;
  color: #000;
  border: none;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}

.preColRight {
  width: 18%;
  text-align: center;
  color: #000;
  border: none;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}
#pre-blast-Report {
  background-image: url("../img/iMiningBackground.png");
  background-color: #002841;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  /* display: flex;
  flex-wrap: wrap; */
}

.hole-Mass-Header{
  color: black !important;
  width: 100%;
	font-size: 20px !important;
	padding: 10px;
	font-weight:bold !important;
	margin: 10px 16px 0px;
	text-align:center;
}

.hole-mass_2 {
  color: white;
  font-size: 250%;
}

.selector {
  background-color: grey;
  border: 0.5px outset grey;
  width: 100%;
  color: white;
}

#holeSelector {
  width: 100%;
}

.holeSelect {
  margin-left: 55px;
}

#detonatorSelector {
  width: 100%
}

.flexrow {
  display: flex;
  flex-wrap: wrap;
}

.flexrow2 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
}

.flexrow3 {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  /* padding-top: 55px;
  padding-bottom: 125px; */
}

.flexrow4 {
  text-align: center;
}

@media screen and (orientation: portrait) {

  .flexcol {
    flex: 20%;
  }

  .flexcol2 {
    flex: 0%;
  }

  .flexcol3 {
    flex: 46%;
  }

  .flexcol4 {
    flex: 12%;
  }

  .flexcol5 {
    flex: 12%;
    margin-right: 50;
  }

  .flexcol6 {
    flex: 33%;
    margin-left: 75px;
  }

  .flexcol7 {
    flex: 35%;
  }

  .flexcol8 {
    flex: 100%;
  }

  /* #secondaryGauges {
    padding-left: 50px;
    padding-right: 80px;
  } */

  #terminalBackground {
    background-image: url("../img/iMiningBackground.png");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  #preBlastListBackground {
    background-image: url("../img/iMiningBackground.png");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  #cameraBackground {
    background-image: url("../img/iMiningBackground.png");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  #checkinScreenBackground {
    background-image: url("../img/iMiningBackground.png");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

@media screen and (max-width: 420px) and (orientation: portrait){

  .flexcol {
    flex: 20%;
  }

  .flexcol2 {
    flex: 0%;
  }

  .flexcol3 {
    flex: 46%;
  }

  .flexcol4 {
    flex: 12%;
  }

  .flexcol5 {
    flex: 12%;
    margin-right: 50;
  }

  .flexcol6 {
    flex: 33%;
    margin-left: 0px;
  }

  .flexcol7 {
    flex: 35%;
  }

  .flexcol8 {
    flex: 100%;
  }

  /* #secondaryGauges {
    padding-left: 50px;
    padding-right: 80px;
  } */

  #terminalBackground {
    background-image: url("../img/iMiningBackground.png");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  #cameraBackground {
    background-image: url("../img/iMiningBackground.png");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  #checkinScreenBackground {
    background-image: url("../img/iMiningBackground.png");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

@media screen and (orientation: landscape) {
  .flexcol {
    flex: 30%;
  }

  .flexcol2 {
    flex: 25%;
  }

  .flexcol4 {
    margin-left: 0px;
    width: 40%;
  }

  .flexcol8 {
    flex: 60%;
  }

  #terminalBackground {
    background-image: url("../img/iMiningBackground.png");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  #cameraBackground {
    background-image: url("../img/iMiningBackground.png");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  #checkinScreenBackground {
    background-image: url("../img/iMiningBackground.png");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

@media screen and (min-width: 801px) and (orientation: landscape) {
  .flexcol {
    flex: 30%;
  }

  .flexcol2 {
    flex: 25%;
  }

  .flexcol4 {
    margin-left: 20px;
    width: 40%
  }

  .flexcol8 {
    flex: 60%;
  }

  #terminalBackground {
    background-image: url("../img/iMiningBackground.png");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  #cameraBackground {
    background-image: url("../img/iMiningBackground.png");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  #checkinScreenBackground {
    background-image: url("../img/iMiningBackground.png");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

.table4 {
  margin-top: 35px;
  color: black;
  width: 100%;
}

.preBlastColLeft {
  color: black;
  text-align: left;
  padding-left: 15px;
  font-size: 20px;
  font-weight: bold;
  width: 65%;
}

.preBlastColLeftAlt {
  color: black;
  text-align: left;
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  width: 65%;
}

.preBlastColRight {
  color: #002841;
  width: 24%;
}

.preBlastColRightAlt{
  color: #002841;
  width: 22%;
}

.preBlastColFarRight {
  width: 23%;
  padding-top: 24px;
}

#progress {
  margin: 15px 20% 0px !important;
}

#progress_2 {
  margin: 15px 20% 0px !important;
}

.sampleDetailsHeader {
  color: black;
  padding-left: 30px;
  padding-top: 10px;
  text-align: left;
}

.sampleDetails {
  color: #002841;
  padding-left: 30px;
  padding-top: 10px;
  text-align: left;
}

#sampleDetails td {
  padding-right: 25px;
  border-bottom: 0.5px solid white;
}

.holeDetails {
  color: #002841;
  padding-top: 10px;
  text-align: left;
}

.state {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    overflow: auto;
}

.state > * {
    padding: .5em 1em;
}

#selected-Device {
  padding-top: 3px;
}

#selected-device .address {
    color: rgba(255, 255, 255, .5);
}


/* #secondaryGauges {
  margin-top: 5px;
} */

.tableButton {
  color: #ffffff;
  border-bottom: solid 0.2px #CCC;
}

.tableItem {
  font-weight: bolder;
  font-size: 25;
  padding-top: 7px;
  padding-bottom: 7px;
}

.tableData {
  text-align: center;
}

#table2 {
  width: 45% !important;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
}

#table2 td {
  padding-left: 5px;
  padding-right: 5px;
}

#table3 {
  width: 45% !important;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
}

#table3 td {
  padding-left: 5px;
  padding-right: 5px;
}

#terminal form {
    display: flex;
}

#terminal form input[type=text] {
    min-width: 0;
}

#toggle-connection {
  border-radius: 0px;
  height: 40px;
  width: calc((100% - 2px*1)/ 2) !important;
}

#pressureGauge2 {
  margin: 0px 0 !important
}

#temperatureGauge2 {
  margin: 0px 0 !important;
}

#tempValueSpan {
  display:block;
  margin-top: -10px !important;
}

.table1 {
  width:100%;
  font-Size: 12px;
  margin-right: 10px;
}

#commentInput {
  height: 100px;
}

.completePageText {
  font-weight: bolder;
  padding-left: 15px;
  text-align: center;
}

.completePageValues {
  font-weight: bolder;
  padding-left: 15px;
  text-align: center;
  font-size: x-large;
  color: #002841;
}

#completeJobPage {
  padding-bottom: 150px;
}

#completeJobButton {
  padding-top: 15px;
}

#incompleteJobButton {
  padding-top: 15px;
}

.blastmap {
  max-width: 90%;
  height: 300px;
  background-color: white;
  /* margin: 15px; */
}

.img-border {
  background-color: #002841;
}

#blastMapToggle {
  margin: 15px 20% 0px !important;
  width: 15%;
  color: #002841;
}
